*{
  margin: 0;
  padding: 0;
  font: 14px "微软雅黑";
}
html,body{
  overflow: hidden;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  display: block;
}
img{
  display: block;
}
#header{
  width: 100%;
  height: 60px;
  background: rgba(0,0,0,0.8);
  overflow: hidden;
}
#header > .header_content{
  width: 980px;
  height: 60px;
  margin: auto;
}
#header > .header_content > .logo{
  float: left;
  margin: 16px 20px 0 0;
}
#header > .header_content > ul{
  float: right;
}
#header > .header_content > ul > li{
  float: left;
  width: 90px;
  color: white;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}
#header > .header_content > ul > li.active{
  background-color: #fc0;
  color: #000;
}
#header > .header_content > ul > li:hover{
  background-color: #fc0;
  color: #000;
}
#content{
  width: 100%;
  height: 694px;
  overflow: hidden;
  position: absolute;
}
#content > ul{
  width: 100%;
  height: 100%;
  transition: 1s top;
  position: absolute;
}
#content > .list > li{
  position: relative;
  overflow: hidden;
}
#content > ul > .content_1{
  width: 100%;
  height: 100%;
  background-image: url("../img/s1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
#content > ul > .content_1 > img{
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 1s opacity;
  margin-left: -545px;
  margin-top: -260px;
}
#content > ul > .content_2{
  width: 100%;
  height: 100%;
  background-image: url("../img/s2.jpg");
}
#content > ul > .content_2 > .left{
  width: 837px;
  height: 437px;
  position: absolute;
  margin-top: 3%;
  left: 3%;
  z-index: 1;
}
#content > ul > .content_2 > .left > ul{
  width: 100%;
  height: 100%;
}
#content > ul > .content_2 > .left > ul > li{
  float: left;
  margin-left: 20px;
  transition: 1s;
}
#content > ul > .content_2 > .left > ul > li a{
  width: 98px;
  height: 36px;
  position: relative;
  left: 80px;
  background-image: url("../img/buy.jpg");
}
#content > ul > .content_2 > .left > ul > li p{
  font-size: 18px;
  text-align: center;
  margin: 20px 0;
}
#content > ul > .content_2 > .right{
  position: absolute;
  top: 10%;
  right: 3%;
  border-right: 2px solid;
  text-align: right;
  padding-right: 10px;
  transition: 1s;
  z-index: 1;
}
#content > ul > .content_2 > .right h1{
  font-size: 34px;
  color: #333;
  font-weight: 100;
}
#content > ul > .content_2 > .right p{
  font-size: 18px;
  color: #333;
  line-height: 1.5em;
  margin-top: 20px;
  margin-bottom: 10px;
}
#content > ul > .content_2 > .right a:hover{
  text-decoration: none;
}
#content > ul > .content_2 > .right a{
  color: #333;
  text-decoration: underline;
  cursor: pointer;
}
#content > ul > .content_2 > .bg{
  position: absolute;
  bottom: 0;
  right: 0;
}
#content > ul > .content_3{
  width: 100%;
  height: 100%;
  background-image: url("../img/s3.jpg");
}
#content > ul > .content_3 > .left{
  width: 837px;
  height: 437px;
  position: absolute;
  margin-top: 3%;
  left: 3%;
  z-index: 1;
}
#content > ul > .content_3 > .left > ul{
  width: 100%;
  height: 100%;
}
#content > .list > .content_3 > .left > ul > li{
  float: left;
  margin-left: 20px;
  transition: 1s;
}
#content > ul > .content_3 > .left > ul > li a{
  width: 98px;
  height: 36px;
  position: relative;
  left: 80px;
  background-image: url("../img/buy.jpg");
}
#content > ul > .content_3 > .left > ul > li p{
  font-size: 18px;
  text-align: center;
  margin: 20px 0;
}
#content > ul > .content_3 > .right{
  position: absolute;
  top: 10%;
  right: 3%;
  border-right: 2px solid;
  text-align: right;
  padding-right: 10px;
  transition: 1s;
  z-index: 1;
}
#content > ul > .content_3 > .right h1{
  font-size: 34px;
  color: #333;
  font-weight: 100;
}
#content > ul > .content_3 > .right p{
  font-size: 18px;
  color: #333;
  line-height: 1.5em;
  margin-top: 20px;
  margin-bottom: 10px;
}
#content > ul > .content_3 > .right a:hover{
  text-decoration: none;
}
#content > ul > .content_3 > .right a{
  color: #333;
  text-decoration: underline;
  cursor: pointer;
}
#content > ul > .content_3 > .bg{
  position: absolute;
  bottom: 0;
  right: 0;
}
#content > ul > .content_4{
  width: 100%;
  height: 100%;
  background-image: url("../img/s4.jpg");
}
#content > ul > .content_4 > .left{
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: 3%;
  left: 3%;
  z-index: 1;
}
#content > ul > .content_4 > .left > ul{
  width: 100%;
  height: 100%;
}
#content > ul > .content_4 > .left > ul > li{
  float: left;
  margin-left: 20px;
}
#content > ul > .content_4 > .left > ul > li a{
  width: 98px;
  height: 36px;
  background-image: url("../img/buy.jpg");
}
#content > ul > .content_4 > .left > ul > li p{
  font-size: 18px;
  text-align: left;
  margin: 20px 0;
}
#content > ul > .content_4 > .right{
  position: absolute;
  top: 10%;
  right: 3%;
  border-right: 2px solid;
  text-align: right;
  padding-right: 10px;
  transition: 1s;
  z-index: 1;
}
#content > ul > .content_4 > .right h1{
  font-size: 34px;
  color: #333;
  font-weight: 100;
}
#content > ul > .content_4 > .right p{
  font-size: 18px;
  color: #333;
  line-height: 1.5em;
  margin-top: 20px;
  margin-bottom: 10px;
}
#content > ul > .content_4 > .right a:hover{
  text-decoration: none;
}
#content > ul > .content_4 > .right a{
  color: #333;
  text-decoration: underline;
  cursor: pointer;
}
#content > ul > .content_4 > .bg{
  position: absolute;
  bottom: 0;
  right: 0;
}
#content > ul > .content_5{
  width: 100%;
  height: 100%;
  background-image: url("../img/s5.jpg");
}
#content > ul > .content_5 > .left{
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: 3%;
  left: 3%;
  z-index: 1;
}
#content > ul > .content_5 > .left > ul{
  width: 100%;
  height: 100%;
}
#content > ul > .content_5 > .left > ul > li{
  float: left;
  margin-left: 20px;
  transition: 1s;
}
#content > ul > .content_5 > .left > ul > li a{
  width: 98px;
  height: 36px;
  cursor: pointer;
  background-image: url("../img/buy.jpg");
}
#content > ul > .content_5 > .left > ul > li p{
  font-size: 18px;
  text-align: left;
  margin: 20px 0;
}
#content > ul > .content_5 > .right{
  position: absolute;
  top: 10%;
  right: 3%;
  border-right: 2px solid;
  text-align: right;
  padding-right: 10px;
  transition: 1s;
  z-index: 1;
}
#content > ul > .content_5 > .right h1{
  font-size: 34px;
  color: #333;
  font-weight: 100;
}
#content > ul > .content_5 > .right p{
  font-size: 18px;
  color: #333;
  line-height: 1.5em;
  margin-top: 20px;
  margin-bottom: 10px;
}
#content > ul > .content_5 > .right a:hover{
  text-decoration: none;
}
#content > ul > .content_5 > .right a{
  color: #333;
  text-decoration: underline;
}
#content > ul > .content_5 > .bg{
  position: absolute;
  bottom: 0;
  right: 0;
}
#content > .point{
  width: 10px;
  height: 95px;
  position: fixed;
  top: 50%;
  right: 15px;
  z-index: 3;
}
#content > .point > li > a{
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 50%;
  margin-bottom: 7px;
  transition: 1s background-color;
}
#content > .point > li.active a{
  background-color: black;
}
#content > .point > li:hover a{
  background-color: #000;
}
@keyframes move1 {
  0%{transform: translate(330px,-1000px)}
  20%{transform: translate(330px,0px)}
  40%{transform: translate(330px,-50px)}
  60%{transform: translate(330px,0)}
  100%{transform: translate(0,0)}
}
@keyframes move2 {
  0%{transform: translate(0,-1000px)}
  20%{transform: translate(0,0)}
  40%{transform: translate(0,-50px)}
  60%{transform: translate(0,0)}
  100%{transform: translate(0,0)}
}
@keyframes move3 {
  0%{transform: translate(-330px,-1000px)}
  20%{transform: translate(-330px,0)}
  40%{transform: translate(-330px,-50px)}
  60%{transform: translate(-330px,0)}
  100%{transform: translate(0,0)}
}
